<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=JavaTeste</property>
		<property name="hibernate.connection.username">teste</property>
		<property name="hibernate.connection.password">teste</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		
		<mapping class="br.com.exemploHibernate.model.Teste"/>
		<mapping class="br.com.exemploHibernate.model.Pessoa"/>

	</session-factory>

</hibernate-configuration>